// GLOBAL VARIABLES
$primary-color: #146C94;

.container-login {
    min-height: calc(100vh - 50px);
    flex:1;

    .header {
        // position: relative;
    }

    .header img {
        height: auto;
        width: 120px;
        // padding-top: 2rem;
        // padding-bottom: 2rem
    }

    .header h2 {
        top: 25px;
        font-size: 28px;
        font-weight: 800;
    }

    .header p {
        font-size: 18px;
        width: 250px;
    }

    // .img-vector {
    //     float: right;
    //     margin: 50px 225px;
    // }

    // .img-vector img {
    //     height: auto;
    //     width: 430px;
    // }

    /* CONTENT FORM */
    .container-form {
        height: fit-content;
    }

    form label {
        font-size: 14px;
        font-weight: 800;
    }

    form input {
        width: 220px;
        height: 40px;

        font-size: 12px;
        font-weight: 700;
        padding: 8px;
        margin: 10px 0px 10px 0px;

        border-radius: 5px;
        border: 2px solid #d9d9d9;
    }

    form .btn-login {

        border: none;
        height: 30px;
        width: 220px;
        background: $primary-color;
        border-radius: 5px;
        margin-top: 10px;
        font-weight: 600;
        font-size: 12px;
        color: #ffff;
    }

    form a {
        position: relative;
        top: 60px;

        color: #000;
        font-size: 14px;
        text-decoration: none;
    }
}