@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0; */
  --footer-color: #146C94;
  /* --background-start-rgb: 214, 219, 220; */
  /* --background-end-rgb: 255, 255, 255; */
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  } */
}

body,
html {
  min-height: 100vh;
  /* Pastikan tinggi badan dan html adalah 100% */
  margin: 0;
  padding: 0;
  display:flex; flex-direction:column; 
}

.c-main-body {
  /* min-height: calc(100%); */
  /* Ganti 60px dengan tinggi footer Anda */
  /* Ruang untuk footer */
  box-sizing: border-box;
}

footer {
  width: 100%;
  /* Tentukan tinggi footer Anda */
  color: white !important;
  background-color: var(--footer-color) !important;
}